
@{
    ViewBag.Title = "Tie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Draw!</h2>

<p>@Html.ActionLink("Play again!", "Index")</p>
<p>@Html.ActionLink("Go back to menu.", "Index", "Home")</p>