@using KKGGames_Labb2.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games index</h2>

@Html.ActionLink("Game21", "Index", "Game21", null, new { @class = "indexlink"})
<br/>
@Html.ActionLink("TicTacToe", "Index", "TicTacToe", null, new { @class = "indexlink" })